body{
    background-color: #212429;
}

.container{
    display: flex;
    justify-content: space-evenly;

}

.item{
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
   
}

a{
    text-decoration: none;
    color: #949EA1;
    font-size: small;
}

.subscribe{
    padding-top: 20px;
}

.subscribe p{
    margin: 2px;
}


.subscribe p:nth-child(2){
   
    font-size: small;
    color: #949EA1;
   
}

button{
   background-color: #0F70FD;
   height: 25px;
   border-style: none;
   border-radius: 2px;
   color: white;
}

input{
    
    color: #949EA1;
    width: 250px;
    background-color:#212429 ;
    border: 1px solid #949EA1;
    padding: 4px;
}

.derechos_reservados{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 20px;
  
}

.item p{
    margin-bottom: 0px;
}

hr{
    width: 75%;
    margin: auto;
}

span{
    font-size: small;
    color:  #949EA1;
}

button:hover{
    background-color:white ;
    color: #0F70FD;
}

.iconos_redes i{
     margin: 4px;
}